<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @season.year %>
</p>

<p>
  <%= link_to 'New Week', new_season_week_path(@season) %>
</p>


<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
