<%= form_for([current_season, current_week, @match]) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    Home Team
    <div class="field">
      <%= collection_select :match, :home_team_id, Team.all, :id, :name, { :selected => @match.home_team } %>
    </div>

    Away Team
    <div class="field">
      <%= collection_select :match, :away_team_id, Team.all, :id, :name, { :selected => @match.away_team } %>
    </div>

    Kick-off Time
    <div class="field">
      <%= f.datetime_select :kickoff_time %>
    </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
