<!DOCTYPE html>
<html>
<head>
  <title>FootballRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="/assets/soldier_field.jpg" class="stretch"/>

  <div id="content">
      
    <div id="inner-content">
      <% if user_signed_in? %>
      <ul>
        <li>Hello <%= current_user.email %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to 'Weeks this Season', season_weeks_path(current_season.id) %></li>
      </ul>
      <%= render "layouts/menu" %>
      <% end %> 

      <%= yield %>
    </div>
  </div>
</body>
</html>
